.well {
    position: relative;
    margin: 0;
}

.play-btn {
    -webkit-animation: cssAnimation 4s forwards;
    -o-animation: cssAnimation 4s forwards;
    -moz-animation: cssAnimation 4s forwards;
    animation: cssAnimation 4s forwards;
    height: 170px;
}
@keyframes cssAnimation {
    0%   {opacity: 0;}
    40%  {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 0;}
    40%  {opacity: 0;}
    100% {opacity: 1;}
}

.game-well {
    border: 1px solid green;
}

.game-btn-skip, .game-btn-solve {
    height: 200px;
    /* position: absolute; */
}

.game-btn-skip {
    width: 30%;
    right: 1em;
}

.game-btn-solve {
    width: 70%;
    left: 1em;
}
